@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

svg{
    display: block;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;

}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr 0.5fr 2fr 2fr;

    /* text-align: center; */

    height: 100%;

    font-family: 'Roboto', sans-serif;
 
}

div {
    
    /* border: 1px red solid; */

}

.firstHeader {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.searchBar {
    grid-column: 1 / 2;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 13fr;
    align-items: center;
    gap: 15px;

}

.searchIcon {
    justify-self: end;
    border: solid 2px black;
    border-radius: 25%;
    background-color: white;
    box-shadow: 4px 8px 16px -4px black;
    transition: 0.25s;
}

.searchIcon:hover {
    cursor: pointer;
    opacity: 0.25;
}

.actualSearchBar {
    justify-self: start;
    width: 75%;
    height: 30px;
    border-radius: 50px;
    border: solid black 2px;
    background-color: rgb(209, 209, 209);
    box-shadow: 4px 8px 16px -4px black;

    padding-left: 25px;
}


.mainInfo {
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    justify-content: end;
}

.mainInfo ul {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
   
    align-items: center;
    gap: 35px;
    padding-right: 40px;
}

li {
    list-style: none;
    /* border: 1px red solid; */

}

.notificationIcon {
    justify-self: end;
    transition: 0.25s;
}

.notificationIcon:hover {
    opacity: 0.25;
    cursor: pointer;
   
}

.profilePic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: yellow;
    align-self: center;
    justify-self: center;
    border: solid 3px black;
    box-shadow: 4px 8px 16px -4px black;
    transition: 0.5s;
}

#svgAvatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

.topRightName {
    font-size: 1.5em;
}

ul {
    margin: 0px;
    padding: 0px;
}

.secondHeader {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 0 25px 40px;
}

.mainGreetingContainer {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    gap: 20px;

}

.bigProfilePic {
    justify-self: end;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background-color: yellow;
    align-self: center;
    justify-self: end;
    transition: 0.5s;
    border: solid 3px black;
    box-shadow: 4px 8px 16px -4px black;
}

.bigProfilePic:hover, .profilePic:hover {
    background-color: black;
    cursor: pointer;
    opacity: 0.75;
}

#svgAvatarTwo {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    align-self: center;
    justify-self: end;
}

.greetingName {
    justify-self: start;

    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: start;
}

.nameWithPlug {
    font-size: 2.5em;

}
.actionItems {
    justify-self: end;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    
}
.actionItems ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 35px;
}

.mainButtons {
    background-color:#0ea5e9;
    border: solid black 4px;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 4rem;
    text-align: center;
    display: grid;
    align-items: center;
    transition: 0.25s;
    box-shadow: 4px 8px 16px -4px black;
}

.mainButtons:hover {
    background-color: yellow;
    color: black;
 
    cursor: pointer;
}

.dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: grid;

    grid-template-rows: 1fr 2fr 3fr;

    background-color: #0ea5e9;
    color: white;
}

.firstDashboardBox, .secondDashboardBox, .thirdDashboardBox {
    gap: 15px;
    padding: 25px 50px 25px 25px;
    
}

.firstDashboardBox {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-size: 2em;
    align-content: start;
    font-weight: bold;
}

.secondDashboardBox {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-size: 1.5em;
    
}

.thirdDashboardBox {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-content: start;
    font-size: 1.5em;
}

.dashboardIcon, .dashboardLogo, .trendingIcon {
    justify-self: end;
    align-self: center;
}

.dashboardText, .dashboardTitle, .trendingPerson {
    justify-self: start;
    align-self: center;
    transition: 0.5s;
}

.dashboardText:hover {
    font-size: 1.25em;
    color: yellow;
    cursor: pointer;
}

.mainContent {

    grid-column: 2 / 3;
    grid-row: 3 / 5;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.projects {
    grid-row: 1 / 4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr;
}

.projectsHeader {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    align-self: end;
    justify-self: start;
    padding: 0px 0px 10px 10px;
}

.actualProject {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;

    grid-template-areas:
    "projectTitle projectTitle projectTitle"
    "projectDescription projectDescription projectDescription"
    "projectIcons projectIcons projectIcons"


}

.projectTitle {
    grid-area: projectTitle;
}

.projectDescription {
    grid-area: projectDescription;
    align-self: start;
    justify-self: start;

    /* Lets the description text wrap within the container without overflowing */
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
  
}

.projectIcons {
    grid-area: projectIcons;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    justify-items: center;
}

.starIcon {
    grid-column: 8 / 9;
}

.eyeIcon {
    grid-column: 9 / 10;
}

.linkIcon {
    grid-column: 10 / 11;
}


.rightContent {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  
}

.announcements {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
  

}


.announcementsHeader {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: end;
    justify-self: start;
 
}

.announcementsContent {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
 
}

.actualAnnouncementOne {
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 2fr;
}

.actualAnnouncementTwo {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 2fr;
}

.actualAnnouncementThree {
    grid-row: 3 / 4;

    display: grid;
    grid-template-rows: 1fr 2fr;
}

.announcementTitle {
    grid-row: 1 / 2;
} 

.announcementDescription {

    grid-row: 2 / 3;
    
    /* Tried to figure out how to prevent the overflow of the description from expanding the div and to cut it off with text-overflow: ellipsis. */
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
    max-height: 100%; */
    
}
.trending {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    
}

.trendingHeader {
    grid-column: 1 / 3;

    align-self: end;
    justify-self: start;
}