.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    text-align: center;
}

div {
    border: 1px red solid;
}

.firstHeader {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.searchBar {
    grid-column: 1 / 2;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}
.mainInfo {
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    justify-content: center;
}

.mainInfo ul {
    display: grid;

    grid-template-columns: 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    border: 1px red solid;
}

ul {
    margin: 0px;
    padding: 0px;
}